create database Assignment3_NguyenDangSang

USE [Assignment3_NguyenDangSang]
GO
/****** Object:  Table [dbo].[tblCars]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCars](
	[carID] [nvarchar](50) NOT NULL,
	[carName] [nvarchar](50) NULL,
	[color] [nvarchar](30) NULL,
	[year] [varchar](4) NULL,
	[price] [float] NULL,
	[image] [nvarchar](500) NULL,
	[quantity] [int] NULL,
	[cateID] [varchar](50) NULL,
	[status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCategory](
	[cateID] [varchar](50) NOT NULL,
	[cateName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDiscount]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDiscount](
	[discountId] [int] NOT NULL,
	[discountCode] [varchar](10) NULL,
	[expirydate] [date] NULL,
	[discountPercent] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[discountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFeedback]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedback](
	[feedBackID] [int] IDENTITY(1,1) NOT NULL,
	[point] [int] NULL,
	[comment] [nvarchar](255) NULL,
	[userID] [nvarchar](50) NULL,
	[carID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedBackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [nvarchar](100) NOT NULL,
	[userID] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[total] [float] NULL,
	[discountId] [int] NULL,
	[status] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[orderDetailID] [nvarchar](100) NOT NULL,
	[orderID] [nvarchar](100) NULL,
	[carID] [nvarchar](50) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[checkin] [date] NULL,
	[checkout] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPayment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](15) NULL,
	[orderID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[roleID] [nvarchar](50) NOT NULL,
	[roleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 3/23/2021 2:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[userID] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[roleID] [nvarchar](50) NULL,
	[status] [varchar](10) NULL,
	[createDate] [date] NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblCars] ([carID], [carName], [color], [year], [price], [image], [quantity], [cateID], [status]) VALUES (N'C1', N'Vinfast Lux A', N'đen', N'2018', 100, NULL, 100, N'vin', N'active')
INSERT [dbo].[tblCars] ([carID], [carName], [color], [year], [price], [image], [quantity], [cateID], [status]) VALUES (N'C10', N'Mazda CX-30', N'den', N'2018', 45, N'https://i.imgur.com/nq3i39Z.png', 13, N'maz', N'active')
INSERT [dbo].[tblCars] ([carID], [carName], [color], [year], [price], [image], [quantity], [cateID], [status]) VALUES (N'C11', N'Mazda CX5', N'den', N'2018', 67, N'https://i.imgur.com/nq3i39Z.png', 23, N'maz', N'active')
INSERT [dbo].[tblCategory] ([cateID], [cateName]) VALUES (N'che', N'Chevrolet')
INSERT [dbo].[tblCategory] ([cateID], [cateName]) VALUES (N'hon', N'Honda')
INSERT [dbo].[tblCategory] ([cateID], [cateName]) VALUES (N'hyn', N'Hyundai')
INSERT [dbo].[tblDiscount] ([discountId], [discountCode], [expirydate], [discountPercent]) VALUES (1, N'aaaaaaaaaa', CAST(N'2021-03-06' AS Date), 0.1)
INSERT [dbo].[tblDiscount] ([discountId], [discountCode], [expirydate], [discountPercent]) VALUES (2, N'bbbbbbbbbb', CAST(N'2021-03-03' AS Date), 0.5)
INSERT [dbo].[tblDiscount] ([discountId], [discountCode], [expirydate], [discountPercent]) VALUES (3, N'0123456789', CAST(N'2021-03-19' AS Date), 0.2)
SET IDENTITY_INSERT [dbo].[tblFeedback] ON 

INSERT [dbo].[tblFeedback] ([feedBackID], [point], [comment], [userID], [carID]) VALUES (1, 7, N'aaa', N'sangndse140959@fpt.edu.vn', N'C3')
INSERT [dbo].[tblFeedback] ([feedBackID], [point], [comment], [userID], [carID]) VALUES (2, 5, N'car ok', N'sangndse140959@fpt.edu.vn', N'C4')
INSERT [dbo].[tblFeedback] ([feedBackID], [point], [comment], [userID], [carID]) VALUES (3, 10, N'OK', N'us@gmail.com', N'C8')
SET IDENTITY_INSERT [dbo].[tblFeedback] OFF
INSERT [dbo].[tblOrder] ([orderID], [userID], [createDate], [total], [discountId], [status]) VALUES (N'OD-a@gmail.com-9', N'a@gmail.com', CAST(N'2021-03-05 21:51:08.317' AS DateTime), 65, 1, N'active')
INSERT [dbo].[tblOrder] ([orderID], [userID], [createDate], [total], [discountId], [status]) VALUES (N'OD-abc@gmail.com-13', N'abc@gmail.com', CAST(N'2021-03-07 18:19:56.877' AS DateTime), 500, NULL, N'active')
INSERT [dbo].[tblOrder] ([orderID], [userID], [createDate], [total], [discountId], [status]) VALUES (N'OD-abc@gmail.com-14', N'abc@gmail.com', CAST(N'2021-03-07 18:50:02.843' AS DateTime), 77, NULL, N'delete')
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [orderID], [carID], [price], [quantity], [checkin], [checkout]) VALUES (N'OD-a@gmail.com-9-1', N'OD-a@gmail.com-9', N'C4', 65, 1, CAST(N'2021-03-06' AS Date), CAST(N'2021-03-09' AS Date))
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [orderID], [carID], [price], [quantity], [checkin], [checkout]) VALUES (N'OD-abc@gmail.com-13-1', N'OD-abc@gmail.com-13', N'C3', 50, 1, CAST(N'2021-03-08' AS Date), CAST(N'2021-03-10' AS Date))
INSERT [dbo].[tblOrderDetail] ([orderDetailID], [orderID], [carID], [price], [quantity], [checkin], [checkout]) VALUES (N'OD-abc@gmail.com-13-2', N'OD-abc@gmail.com-13', N'C1', 100, 1, CAST(N'2021-03-04' AS Date), CAST(N'2021-03-08' AS Date))
SET IDENTITY_INSERT [dbo].[tblPayment] ON 

INSERT [dbo].[tblPayment] ([paymentId], [address], [phone], [orderID]) VALUES (7, N'HCM', N'0981234567', N'OD-test@gmail.com-5')
INSERT [dbo].[tblPayment] ([paymentId], [address], [phone], [orderID]) VALUES (8, N'HN', N'0983106332', N'OD-us@gmail.com-6')
INSERT [dbo].[tblPayment] ([paymentId], [address], [phone], [orderID]) VALUES (9, N'CT', N'0983106445', N'OD-us@gmail.com-7')
SET IDENTITY_INSERT [dbo].[tblPayment] OFF
INSERT [dbo].[tblRole] ([roleID], [roleName]) VALUES (N'AD', N'ADMIN')
INSERT [dbo].[tblRole] ([roleID], [roleName]) VALUES (N'US', N'USER')
INSERT [dbo].[tblUser] ([userID], [fullName], [password], [roleID], [status], [createDate], [address], [phone]) VALUES (N'a@gmail.com', N'a', N'123456', N'US', N'active', CAST(N'2021-03-05' AS Date), N'HL', N'0987878887')
INSERT [dbo].[tblUser] ([userID], [fullName], [password], [roleID], [status], [createDate], [address], [phone]) VALUES (N'abc@gmail.com', N'abc', N'123456', N'US', N'active', CAST(N'2021-03-05' AS Date), N'Q12', N'0985454545')
INSERT [dbo].[tblUser] ([userID], [fullName], [password], [roleID], [status], [createDate], [address], [phone]) VALUES (N'ad@gmail.com', N'ad', N'123456', N'AD', N'active', CAST(N'2021-02-07' AS Date), N'HCM', N'0987878887')
ALTER TABLE [dbo].[tblCars]  WITH CHECK ADD FOREIGN KEY([cateID])
REFERENCES [dbo].[tblCategory] ([cateID])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([carID])
REFERENCES [dbo].[tblCars] ([carID])
GO
ALTER TABLE [dbo].[tblFeedback]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([discountId])
REFERENCES [dbo].[tblDiscount] ([discountId])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD FOREIGN KEY([carID])
REFERENCES [dbo].[tblCars] ([carID])
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRole] ([roleID])
GO
